/* h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
} */

/* h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 36px;
}

h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
}

body {
    font-family: 'Open Sans', sans-serif;
} */

html,
body {
    background-color: black;
    width: 100%;
    overflow-x: hidden;
}

.header {
    width: 100%;
    height: 100vh;
    background-image:url('assets/main-bg.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;   
}

.navbar {
    background-color: rgba(0, 0, 0, 0.75);
}

nav {
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0.1rem;
    text-align: center;
}


.nav-link{
    color:white  !important;
}

.nav-link:hover {
    color: #fab647 !important;
}

.judul {
    color: #fff;
    text-align: center;
    width: 100%;
    height: 90%;
}

.title {
    margin-top: 5rem;
    font-family: 'Bebas Neue';
    padding-top: 12%;
    font-size: 4rem;
    letter-spacing: 1rem;
    width: 100%;
}

.subtitle {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-family: 'Bebas Neue';
    letter-spacing: 0.1rem;
    flex: 1;
    margin-bottom: 3rem;
}

.button-play:hover {
    background-color: #a57203;
}




.the-games {
    width: 100%;
    height: 100vh;
    background-image:
        radial-gradient(circle at right, #000, transparent),
    url('assets/the-games-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

 .judul-game {
    padding-top: 10%;
    flex-direction: row;
    /* width: 90vw !important;*/
}

.title-game {
    font-size: 3.5rem;
    line-height: 1.5rem;
} 

.part-left {
    margin-top: 3rem;
}

.part-right {
    margin-top: 5rem;
}


.carousel-indicators li {
    height: 1rem !important;
    width: 1rem !important;
    border-radius: 50% !important;
    margin-left: 2rem !important;
    margin-right: 2rem !important;
}

.carousel-indicators button {
    width: 0.5rem !important;
    height: 0.5rem !important;
}

.indicator-left {
    margin-left: -6rem;
}

.indicator-right {
    margin-right: -6rem;
}

.features {
    width: 100%;
    height: 100vh;
    background-image:url('assets/features.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}


.features-content {
    padding-top: 14rem;
}


 .kolom-pas {
    margin-right: -1.5rem;
}

.subtitle-kolom {
    font-size: 1.5rem;
    color: #faaf36;
    letter-spacing: 0.2rem;
}

.subtitle-bawah {
    color: white;
    font-size: 1rem;
}

.system {
    width: 100%;
    height: 100vh;
    background-image:
        radial-gradient(50% 90% at 65% 40%,
            rgba(0, 0, 52, 0) 0%,
            rgba(10, 10, 10, 0.50) 50%,
            #000 95%),
        url('assets/requirements.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10%;
    
}

.judul-req {
    color: white;
    text-align: center;
    font-size: 1rem;
    margin-bottom: -1.5rem;
}

@media (max-width:991px) {
    .rq-table-title{
        font-size: 3rem;
        margin-top: 3rem;
    }
}


.rq-table-title {
    font-size: 60px;
    color: white;
    /* line-height: 3rem; */
}

.table-content-sys {
    max-width: 40vw !important;
    margin-top: 7rem;
}

@media (max-width:911px) {
    .table-content-sys{
        margin-top: 4rem;
    }
}

.requirements-info {
    color: #FBB341;
    font-style: normal;
    font-size: 1.5rem;
}

.requirements-info-content {
    color: white;
    line-height: 1rem;
}

.table-bordered th {
    border: #1f2024 1px solid !important;
}

.table-bordered td {
    border: #1f2024 1px solid !important;
}

.score {
    width: 100%;
    height: 100%;
    background-image: url('assets/top-score-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5%;
}

.score-content {
    max-width: 100vw !important;
}

.card {
    background-color: #141414 !important;
    width: 25rem !important;
}

.card-title {
    color: #FBB341 !important;
}

.card-info-top {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
}

.card-subtitle {
    color: #a1a1a1 !important;
}

.card-text {
    color: #a1a1a1 !important;
}